.contact{
    background-color:rgb(241, 241, 241); 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact__header{
    padding-top: 10rem;
}
.contact__subheader{
    padding-top: 0.7rem;
    padding-bottom: 2rem;
    color: grey;
}
.icon__group{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}
.icon__group svg{
    color: black;
    font-size: 50px;
    margin: 0 10px;
}
.icons:hover svg{
    transition: transform .2s;
    transform: scale(1.2);
}